page-profile {
  background-color: #0055BB;
  
  .profile_image{
  margin-top: 20%;
}

.profile{
  margin-left: 25%;
  margin-bottom: 10%;
  display:inline-block;
  border-radius:100%;
  width:60%;
  height:60%;
  background-size:cover;
}
.username{
  text-align: center;
  color: black;
  font-weight: bold;
}
.edditButton{
  // padding: 0;
  // background-color: transparent;
}


}

