.HomePage {
     background-image: url('../img/blur-bg-mobile.jpg');
}
.tutorial-page {
  background-image: url('../img/blur-bg-mobile.jpg');
  .toolbar-background {
    background: url('../img/blur-bg-mobile.jpg');;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}